#neirong{height:1100px;margin-top:-20px;background:#555555;}
#neirong li{list-style-type:none;margin-left:45px;}
#neirong li a{ text-decoration:none;}
#neirong h2{text-align:center;color:red;}
.lovelyz{background:#8A8A8A;margin-left:45px;width:450px;height:500px;float:left;margin-top:40px;}
.sun{background:#8A8A8A;margin-left:45px; width:450px;height:500px;float:left;margin-top:40px;}
.li{background:#8A8A8A;margin-left:45px; width:450px;height:500px;float:left;margin-top:40px;}
.wang{background:#8A8A8A;margin-left:45px; width:450px;height:500px;float:left;margin-top:45px;}
.jiang{background:#8A8A8A;margin-left:45px; width:450px;height:500px;float:left;margin-top:45px;}
.jia{background:#8A8A8A;margin-left:45px; width:450px;height:500px;float:left;margin-top:45px;}